.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.image {
  width: 220px;
  height: 330px;
  object-fit: cover;
  object-position: center;
}
