.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.image {
  width: 100%;
  height: 330px;
  object-fit: cover;
  object-position: top;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.description-movie {
  font-size: 16px;
}
